<header>
  <h2><%= @listing.title %></h2>

  <ul class="actions">
    <li><%= link_to fa_icon("list-alt") + ' Listings', listings_path, class: "btn btn-info" %></li>
    <% if user_signed_in? && (current_user.id == @listing.user_id) %>
      <li><%= link_to fa_icon("pencil") + ' Edit', edit_listing_path(@listing), class: "btn btn-primary" %></li>
      <li><%= link_to fa_icon("trash") + ' Delete', listing_path(@listing), method: :delete, data: { confirm: "Do you really want to delete this listing?" }, class: "btn btn-danger" %></li>
    <% end %>
  </ul>

</header>

<p>
  <strong>Category:</strong>
  <%= @listing.category.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@listing.price) %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @listing.user.username %>
  <% if @listing.user.avatar? %>
    <div class="round-image-50">
      <%= image_tag(@listing.user.avatar.url(:thumb)) %>
    </div>
  <% end %>
</p>

<div>
  <% if @listing.image? %>
    <strong>Image of Product or Service:</strong>
    <div><%= image_tag @listing.image.url(:medium) %></div>
  <% end %>
</div>
